<div class="container mt-1 mb-2">
    <div class="card border-primary shadow-sm">
      <div class="card-header header-custom text-white">
        <h5 class="mb-0"><i class="bi bi-person-circle me-2"></i>Detalles del Usuario</h5>
      </div>
      <div class="card-body">
        <div>
          <p><strong>Nombre: </strong> {{ usuario.nombre }}</p>
          <p><strong>Email: </strong> {{ usuario.email }}</p>
          <p><strong>Rol: </strong> <span class="text-capitalize">{{ usuario.rol }}</span></p>
          <p><strong>Rally: </strong> {{ usuario.rally!.nombre }}</p>
          <p><strong>Dado de alta: </strong> {{ usuario.created_at | date:'dd/MM/yyyy' }}</p>
          <!-- Puedes añadir más campos aquí si el objeto tiene más datos -->
        </div>
  
        <ng-template #noData>
          <p class="text-muted">No hay datos del usuario seleccionados.</p>
        </ng-template>
      </div>
      <div class="card-footer text-end">
        <button class="btn btn-secondary" (click)="closeDetails()">
          <i class="bi bi-arrow-left"></i> Cerrar detalles
        </button>
      </div>
    </div>
  </div>
