.btn-custom {
    background: linear-gradient(135deg, #1d4ed8 0%, #9dcbd8 100%);
}

.btn-customd {
    background: linear-gradient(135deg, #ff4d4d 0%, #ff66b2 100%);
}

.btn-customd:hover {
    filter: brightness(1.1);
    /* Aumenta el brillo */
    box-shadow: 0 0 15px #ff4d4d;
    /* Un poco de glow */
    cursor: pointer;
}

.btn-custom:hover {
    filter: brightness(1.1);
    /* Aumenta el brillo */
    box-shadow: 0 0 15px #1d4ed8;
    /* Un poco de glow */
    cursor: pointer;
}

.cursor-move {
    cursor: move;
}

.container.mt-5.draggable {
    margin-top: 0 !important;
    /* Elimina el margen superior */
    padding-top: 20px;
    /* Espacio entre navbar y contenido */
}

.login-wrapper {
    padding-top: 70px;
    position: relative;
    min-height: calc(100vh - 100px);
    left: 2.5%;

}

.card-header h1 {
    font-size: 1rem !important;
}

.upload-message {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.spinner {
    width: 16px;
    height: 16px;
    border: 3px solid #ccc;
    border-top: 3px solid #09f;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* RESPONSIVE PARA TABLETS */
@media (max-width: 992px) {
    .login-wrapper {
        padding-top: 110px;
        min-height: calc(100vh - 80px);
        margin: auto;
    }

    .container.draggable {
        padding: 1.5rem;
    }
}

/* RESPONSIVE PARA MÓVILES */
@media (max-width: 768px) {
    .login-wrapper {
        padding-top: 90px;
        min-height: calc(100vh - 60px);
        margin-left: 17%;
        padding-bottom: 800px;
    }

    .container.draggable {
        padding: 1rem;
    }


}

/* AJUSTES PARA PANTALLAS MUY PEQUEÑAS */
@media (max-width: 576px) {
    .login-wrapper {
        padding-top: 90px;
        min-height: calc(100vh - 60px);
        margin-right: 20%;
        padding-bottom: 600px;
    }

    .container.draggable {
        padding: 0.5rem;
    }

    .card-header h1 {
        font-size: 1.5rem !important;
    }

    .btn-custom,
    .btn-customd {
        padding: 0.5rem !important;
        font-size: 0.9rem;
    }
}