<div class="wrapper">
  @if(showForm) {
  <app-form-upload-photo [photo]="selectedPhoto" (formClosed)="handleFormClose($event)">
  </app-form-upload-photo>
  } @else {
  <div class="container mt-4">
    @if(nombreUsuario != '' && !isVoted){
    <h2 class="mb-4 text-center text-primary fw-bold">Fotos de {{nombreUsuario}}</h2>
    } @else if(isVoted) {
    <h2 class="mb-4 text-center text-primary fw-bold"
      style="font-family:'Holtwood One SC', serif !important; color: #ff9900 !important;">¡¡Vamos a votar,
      {{nombreUsuario}}!!</h2>
    <h6 class="mb-4 text-center fw-bold" style="color: #ff4d4d;">No verás tus propias fotos para que no hagas trampas :)
    </h6>}
    <div class="row g-4">
      @if(fotos.length === 0 && !isVoted) {
      <div class="d-flex justify-content-center align-items-center">
        <div class="text-center">
          <h2 class="mt-1">
            Deberías subir algunas fotos,
            <span class="username-special">{{ nombreUsuario }}</span>
          </h2>
          <img src="assets/images/Logo.png" alt="Logo Rally Fotográfico" class="mt-5 me-2 navbar-logo animated-pulse"
            style="width: 500px; height: auto;">
        </div>
      </div>
      }@else if(fotos.length === 0 && isVoted) {
      <div class="d-flex justify-content-center align-items-center">
        <div class="text-center">
          <h2 class="mt-1">
            Lo sentimos, no hay fotos para votar
          </h2>
          <img src="assets/images/Logo.png" alt="Logo Rally Fotográfico" class="mt-5 me-2 navbar-logo animated-pulse"
            style="width: 500px; height: auto;">
        </div>
      </div>
      }
      @for (foto of fotos; track $index) {
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card h-100 shadow-sm custom-card d-flex flex-column">

          <!-- Imagen con altura fija y ajuste uniforme -->
          <div class="overflow-hidden position-relative" style="height: 200px;">
            <img [src]="getUrl(foto.ruta_archivo)" loading="lazy" class="w-100 h-100 object-fit-cover" alt="Foto"
              (click)="verFotoGrande(getUrl(foto.ruta_archivo))" />
            <div class="overlay-text">Haz clic para ampliar la foto</div>
          </div>

          <div class="card-body d-flex flex-column">
            <div class="d-flex justify-content-between align-items-start mb-2">
              <h5 class="card-title text fw-bold mb-1" style="color: #3399ff;">{{ foto.titulo }}</h5>
              @if(isVoted){<small class="mt-1" style="color: #ff4d4d;">Autor: {{ foto.usuario!.nombre }}</small>}
              @if(!isVoted){
              <span class="badge" [ngClass]="{
                    'bg-success': foto.estado === 'aprobada',
                    'bg-warning text-dark': foto.estado === 'pendiente',
                    'bg-danger': foto.estado === 'rechazada'
                  }">
                {{ foto.estado }}
              </span>
              }
            </div>

            <p class="card-text text-muted small flex-grow-1">{{ foto.descripcion }}</p>
            <div class="d-flex flex-column small mt-2 mb-2">
              <div class="d-flex align-items-center gap-2">
                <i class="bi bi-hand-thumbs-up-fill text-success"></i>
                <span>Votos: {{ getVotosPorFoto(foto) }}</span>
              </div>
              <div class="d-flex align-items-center gap-2">
                <i class="bi bi-star-fill text-warning"></i>
                <span>Ranking: {{ getRankingPorFoto(foto) }}</span>
              </div>
            </div>
            @if(!isAdmin && !isVoted) {
            <div class="d-flex justify-content-between mt-auto">
              <button class="btn btn-sm btn-outline-primary" (click)="editarFoto(foto)">
                <i class="bi bi-pencil me-1"></i> Editar
              </button>
              <button class="btn btn-sm btn-outline-danger" (click)="borraFoto(foto.id, foto.titulo)">
                <i class="bi bi-trash me-1"></i> Borrar
              </button>
            </div>
            }@else if(isVoted) {
            <div class="d-flex justify-content-between mt-auto">
              <button class="btn btn-sm" [ngClass]="{
              'btn-outline-primary': !haVotado(foto.id),
              'btn-outline-danger': haVotado(foto.id)
            }" (click)="votarAnularFoto(foto.id)">
                <i class="bi me-1" [ngClass]="haVotado(foto.id) ? 'bi-trash' : 'bi-pencil'"></i>
                {{ haVotado(foto.id) ? 'Anular voto' : 'Vota esta foto' }}
              </button>
            </div>
            }@else {
            <div class="d-flex justify-content-between mt-auto">
              @if(foto.estado === 'aprobada') { <button class="btn btn-sm btn-outline-danger"
                (click)="aceptaRechaza('rechazada', foto.id)">
                <i class="bi bi-trash me-1"></i> Rechazar
              </button>}@else{ <button class="btn btn-sm btn-outline-primary"
                (click)="aceptaRechaza('aprobada', foto.id)">
                <i class="bi bi-pencil me-1"></i> Aceptar
              </button>
              <button class="btn btn-sm btn-outline-danger" (click)="aceptaRechaza('rechazada', foto.id)">
                <i class="bi bi-trash me-1"></i> Rechazar
              </button>}

            </div>
            }
          </div>

        </div>
      </div>
      }
      <div class="modal fade show" tabindex="-1" [ngClass]="{ 'd-block': isFotoModalOpen }"
        style="background-color: rgba(0,0,0,0.6);" *ngIf="isFotoModalOpen">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content bg-dark text-white">
            <div class="modal-header border-0">
              <h5 class="modal-title">Vista previa</h5>
              <button type="button" class="btn-close btn-close-white" (click)="cerrarModal()"></button>
            </div>
            <div class="modal-body text-center">
              <img [src]="selectedFotoUrl" class="img-fluid rounded" alt="Foto ampliada" />
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-5">
        <button class="btn btn-custom btn-primary" (click)="volver()">
          <i class="bi bi-arrow-left"></i> Volver
        </button>
      </div>
    </div>
  </div>
  }
</div>