.draggable {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-custom {
    background: linear-gradient(135deg, #1d4ed8 0%, #9dcbd8 100%);
}

.btn-customd {
    background: linear-gradient(135deg, #ff4d4d 0%, #ff66b2 100%);
}

.btn-customd:hover {
    filter: brightness(1.1);
    /* Aumenta el brillo */
    box-shadow: 0 0 15px #ff4d4d;
    /* Un poco de glow */
    cursor: pointer;
}

.btn-custom:hover {
    filter: brightness(1.1);
    /* Aumenta el brillo */
    box-shadow: 0 0 15px #1d4ed8;
    /* Un poco de glow */
    cursor: pointer;
}

.cursor-move {
    cursor: move;
}

.wrapper {
    padding-top: 100px;
    position: relative;
    min-height: calc(100vh - 100px);
    /* Altura total menos navbar */
}

/* RESPONSIVE PARA TABLETS */
@media (max-width: 992px) {
    .login-wrapper {
        padding-top: 160px;
        min-height: calc(100vh - 80px);
        margin: auto;
    }

    .container.draggable {
        padding: 1.5rem;
    }

    .alert {
        padding-top: 30px;

    }
}

/* RESPONSIVE PARA MÓVILES */
@media (max-width: 768px) {
    .login-wrapper {
        padding-top: 160px;
        min-height: calc(100vh - 60px);
        margin-left: 17%;
    }

    .container.draggable {
        padding: 1rem;
    }


}

/* AJUSTES PARA PANTALLAS MUY PEQUEÑAS */
@media (max-width: 576px) {
    .login-wrapper {
        padding-top: 90px;
        min-height: calc(100vh - 60px);
        margin-right: 20%;
    }

    .container.draggable {
        padding: 0.5rem;
    }

    .card-header h1 {
        font-size: 1.5rem !important;
    }

    .btn-custom,
    .btn-customd {
        padding: 0.5rem !important;
        font-size: 0.9rem;
    }
}